<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %yellow(%thread) %highlight(%-5level) %logger{36} %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_CONSOLE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/console/console.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/reboot/console.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>20</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %thread %-5level %logger{36} %msg %n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_CONSOLE_REBOOT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/reboot/reboot.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/reboot/reboot.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>20</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %thread %-5level %logger{36} %msg %n</pattern>
        </encoder>
    </appender>

    <logger level="INFO" additivity="false" name="ru.ygtu.student.security.project.services.imp.SystemServiceImp">
        <appender-ref ref="FILE_CONSOLE_REBOOT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_CONSOLE"/>
    </root>
</configuration>